body{
    font: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;
    top: 20%;
    background: linear-gradient(to right, #4ee4da,#ffb951);
}
h1{
    font: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;
}
h2{
    
    font: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: capitalize;
}